<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679428198488-2ookksef1jn5eob49n8t45u827u3383t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679428198488-2ookksef1jn5eob49n8t45u827u3383t</string>
	<key>API_KEY</key>
	<string>AIzaSyDf7A2XQRvrQgCXD0oR9a4ZwSesXqIWg1U</string>
	<key>GCM_SENDER_ID</key>
	<string>679428198488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mussapp</string>
	<key>PROJECT_ID</key>
	<string>mussapp-d86af</string>
	<key>STORAGE_BUCKET</key>
	<string>mussapp-d86af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679428198488:ios:1eb5244ea932d8bd7cfa2d</string>
</dict>
</plist>